<div class="d-flex">
  <div class="anio mr-3">
    <select class="form-control"  (change)="onChangeAnio($event.target.value)">
      <option>2019</option>
      <option>2020</option>
    </select>
  </div>
  <div class="btn-group btn-group-toggle "  data-toggle="buttons">
      <label class="btn btn-primary active"   (click)="onClickFiltro('Todos')" >
        <input type="radio" name="options" id="Fede"  checked >Todos
      </label>
      <label class="btn btn-primary"   (click)="onClickFiltro('Ceci')">
        <input type="radio" name="options" id="Ceci"   > Ceci
      </label>
      <label class="btn btn-primary"  (click)="onClickFiltro('Fede')">
        <input type="radio" name="options" id="Todos" > Fede
      </label>
  </div>
</div>