<div class="container-fluid">
  <div class="my-3 d-flex justify-content-between align-content-center">   
    <app-filtro-movimientos (movimientos)="getMovimientosFiltrados($event)"></app-filtro-movimientos>
  </div>
  <div class="card">  
      <table class="table table-hover table-bordered">
          <thead class="align-items-left thead-light ">
            <tr>
              <th scope="col"></th>
              <th scope="col">Ene</th>
              <th scope="col">Feb</th>
              <th scope="col">Mar</th>
              <th scope="col">Abr</th>
              <th scope="col">May</th>
              <th scope="col">Jun</th>
              <th scope="col">Jul</th>
              <th scope="col">Ago</th>
              <th scope="col">Sep</th>
              <th scope="col">Oct</th>
              <th scope="col">Nov</th>
              <th scope="col">Dec</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-items-left thead-light" *ngFor="let item of tipos"  [ngClass]="{ 'table-success': !item.resta}" >
              <th scope="row">{{item.nombre}} </th>
              <td>${{getTotalMesTipo(1,item)}}</td>        
              <td>${{getTotalMesTipo(2,item)}}</td>        
              <td>${{getTotalMesTipo(3,item)}}</td>        
              <td>${{getTotalMesTipo(4,item)}}</td>        
              <td>${{getTotalMesTipo(5,item)}}</td>        
              <td>${{getTotalMesTipo(6,item)}}</td>        
              <td>${{getTotalMesTipo(7,item)}}</td>        
              <td>${{getTotalMesTipo(8,item)}}</td>        
              <td>${{getTotalMesTipo(9,item)}}</td>        
              <td>${{getTotalMesTipo(10,item)}}</td>        
              <td>${{getTotalMesTipo(11,item)}}</td>        
              <td>${{getTotalMesTipo(12,item)}}</td> 
              <td class="font-weight-bold">${{getTotalTipo(item)}}</td>        
            </tr>
            <tr class="align-items-left table-info thead-light" >
              <th scope="row">Total</th>
                <td class="font-weight-bold">${{getTotalMes(1)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(2)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(3)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(4)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(5)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(6)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(7)}}</td>         
                <td class="font-weight-bold">${{getTotalMes(8)}}</td>        
                <td class="font-weight-bold">${{getTotalMes(9)}}</td>     
                <td class="font-weight-bold">${{getTotalMes(10)}}</td>      
                <td class="font-weight-bold">${{getTotalMes(11)}}</td>  
                <td class="font-weight-bold">${{getTotalMes(12)}}</td>        
                <td class="font-weight-bold" scope="row">${{getTotal()}}</td>        
              </tr>
          </tbody>
        </table>         
    <!-- <app-tabla-anio-movimientos [movimientos]="movimientos" [tipos]="tipos"></app-tabla-anio-movimientos> -->
  </div>

</div>
          
      