:host{
    font-size: 0.7rem;

    @media (min-width: 1375px) {
        font-size: 0.7rem;
    }

    @media (min-width: 1450px) {
        font-size: 0.8rem;
    }

    @media (min-width: 1525px) {
        font-size: 0.8rem;
    }

    @media (min-width: 1600px) {
        font-size: 0.9rem;
    }
}