<div class="container-fluid">
    <div class="card">     
      <table class="table table-hover">
        <thead class="align-items-center thead-light ">
          <tr>
            <th scope="col"></th>
            <th scope="col">Ene</th>
            <th scope="col">Feb</th>
            <th scope="col">Mar</th>
            <th scope="col">Abr</th>
            <th scope="col">May</th>
            <th scope="col">Jun</th>
            <th scope="col">Jul</th>
            <th scope="col">Ago</th>
            <th scope="col">Sep</th>
            <th scope="col">Oct</th>
            <th scope="col">Nov</th>
            <th scope="col">Dec</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-items-center" *ngFor="let item of tipos ">
            <th scope="row">{{item.nombre}} </th>
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>        
            <td>$10000</td>   
            <td scope="row">$10000</td>        
          </tr>
          <tr class="align-items-center table-success" >
            <th scope="row">Total</th>
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>        
              <td>$10000</td>     
              <td>$10000</td>      
              <td>$10000</td>        
              <td scope="row">$10000</td>        
            </tr>
        </tbody>
      </table>
    </div>

  </div>
          
      