.movimientos-large{
    min-width: 430px;
}

.celular{
    display: flex !important;
}

.desktop{
    display: none !important;
}

@media (min-width: 992px) {
    .celular {
        display: none !important;
    }
    .desktop{
        display: flex !important;
    }
}