.movimientos-large{
    min-width: 430px;

    
}

.margen-desktop{
    margin-top: inherit;
}

.desktop{
    display: none !important;
}

@media (min-width: 1024px) {
 
    .desktop{
        display: flex !important;
    }

    .margen-desktop{
        margin-top: 68px !important;
    }
    
}